*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg,rgb(81, 202, 224),rgb(217, 255, 0),rgb(194, 17, 114));
    color:#222;
    line-height: 1.6;

}
section{
    width:80%;
    margin:50px;
    padding:50px;
    border-radius:20px;
    box-shadow:0 10px 30px rgb(119, 4, 4);

}
.intro{
    min-height: 100vh;
    background-image:url(image/WIN_20260831_12_14_12_Pro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.intro h1{
    font-size:60px;
    text-shadow:2px 2px 10px black;
}
.intro p{
    font-size:20px;
    max-width:600px;
}
.about-me{
     font-size:60px;
    text-shadow:2px 2px 10px black;
}
.view{
    
  ul {
    max-width: 900px;
    margin: 30px auto;

    background: rgba(0, 0, 0, 0.55);

    padding: 30px 50px;

    border-radius: 20px;

    border: 2px solid rgba(0, 204, 255, 0.7);

    box-shadow:
        0 0 20px rgba(0, 204, 255, 0.5),
        inset 0 0 20px rgba(0, 0, 0, 0.5);
}

li {
    margin: 20px 0;
    padding: 15px;
    font-size: 18px;
    line-height: 1.6;
    background: rgba(0, 80, 150, 0.35);
    border-left: 5px solid #ff9900;
    border-radius: 10px;
    transition: 0.3s;
}
}

.about-me{
    min-height: 100vh;
    background-color:#ff9900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}